version: "3.8"

services:
  db:
    image: postgres:17.2-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_NAME: ${POSTGRES_NAME}
      POSTGRES_HOST: ${POSTGRES_HOST}
    ports: 
      - "5432:5432"
    volumes:
      - data_postgres:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    restart: always
    ports: 
      - "6379:6379"

volumes:
  data_postgres: